@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root{
  --main-color: #f2f3f5;
  --second-color: white;
  --third-color: #ededed;
  --third-second-color: #dfe3e8;
  --nav-height: 60px;
  --font-family: 'Inter', sans-serif;
}


html{
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

body{
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  position: absolute;
  
}

div.main-flex{
  display: flex;
  height: 100%;
}

div.main{
  width: auto;
  height: auto;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

nav.sidenav{
  height: 100vmax;
  width: 40px;
  left: 0;
  background-color: var(--second-color);
  border-right: solid 1px var(--third-second-color);
}

nav.navbar{
  background-color: var(--second-color);
  height: var(--nav-height);
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: solid 1px var(--third-second-color);
}

svg.logo{
  padding: auto;
  margin: auto;
  width: 45px;
  top: auto;
  padding: 0;
}

div.logo{
  display: flex;
  height: var(--nav-height);
  width: var(--nav-height);
  left: 0;
  margin: 0;
  padding: 0;
}

div.tab-information{
  height: var(--nav-height);
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
  height: auto;
}

div.tab-name{
  font-weight: bold;
  font-size: 23px;
}

div.tab-description{
  color: black;
}

button.main.active-tab-status, button.database.active-tab-status, button.setting.active-tab-status {
  background-color: var(--third-color);
}

div.reload-button{
  margin-top: 12px;
  margin-left: 6px;
}

form.refresh:hover{
  cursor: pointer;
}

h1, h2, h3, h4, h5{
  margin: 0;
  top: 0;
  font-family: var(--font-family);
}


button.main, button.database, button.setting{
  width: 40px;
  top: 0;
  height: 40px;
  background-color: var(--second-color);
  border: none;
  padding: 0;

}

button:hover{
  cursor: pointer;
  background-color: var(--third-color);
}

div.subtub-panel{
  display: flex;
}

button.main-primary{
  margin-top: 15px;
}

svg{
  fill: black;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

div.main-flex-block{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

div.main-content-block{
  margin-top: 2rem;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 7px;
}

div.main-content-block{
  width: 18rem;
  margin-top: 2rem;
}

div.content-block-header{
  display: flex;
  
}

div.header-content-block{
  height: 40px;
  background-color: yellow;
  font-family: var(--font-family);
  vertical-align: auto;
}

h4.main-block-header{
  margin-top: 8px;
}

div.charts{
  height: calc(18rem + 35px);
}

div.common{
  height: 30rem;
}

div.header-logo{
  width: 40px;
  height: 40px;
  background-color: aqua;
  display: flex;
}

img.header-logo{
  width: 24px;
  height: 24px;
  margin: auto;
  color: black;
  text-align: center;
}

div.main-content-charts, div.main-content-main{
  height: 273px;
  width: auto;
  background-color: beige;
  margin: 5px;
}

div.main-content-block-top{
  height: calc(18rem + 35px);
  background-color: bisque;
  border-radius: 7px;
}

div.main-content-block-bottom{
  background-color: red;
  margin-top: 5px;
  height: 147px;
  margin-top: 10px;
  border-radius: 7px;
}

div.background{
  background-color: green;
}