@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root{
  --main-color: #f2f3f5;
  --second-color: white;
  --third-color: #ededed;
  --third-second-color: #dfe3e8;
  --nav-height: 60px;
  --font-family: 'Inter', sans-serif;
  --light-grey: #f7f7f7;
}


html{
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

body{
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  position: absolute;
  
}

div.main-flex{
  display: flex;
  height: 100%;
}

div.main{
  width: auto;
  height: auto;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

nav.sidenav{
  height: 100vmax;
  width: 40px;
  left: 0;
  background-color: var(--second-color);
  border-right: solid 1px var(--third-second-color);
}

nav.navbar{
  background-color: var(--second-color);
  height: var(--nav-height);
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: solid 1px var(--third-second-color);
}

svg.logo{
  padding: auto;
  margin: auto;
  width: 45px;
  top: auto;
  padding: 0;
}

div.logo{
  display: flex;
  height: var(--nav-height);
  width: var(--nav-height);
  left: 0;
  margin: 0;
  padding: 0;
}

div.tab-information{
  height: var(--nav-height);
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
  height: auto;
}

div.tab-name{
  font-weight: bold;
  font-size: 23px;
}

div.tab-description{
  color: black;
}

button.main.active-tab-status, button.database.active-tab-status, button.setting.active-tab-status {
  background-color: var(--third-color);
}

div.reload-button{
  margin-top: 12px;
  margin-left: 6px;
}

form.refresh:hover{
  cursor: pointer;
}

h1, h2, h3, h4, h5{
  margin: 0;
  top: 0;
  font-family: var(--font-family);
}


button.main, button.database, button.setting{
  width: 40px;
  top: 0;
  height: 40px;
  background-color: var(--second-color);
  border: none;
  padding: 0;

}

button:hover{
  cursor: pointer;
  background-color: var(--third-color);
}

div.subtub-panel{
  display: flex;
}

button.main-primary{
  margin-top: 15px;
}

svg{
  fill: black;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

div.main-flex-block{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

div.main-content-block{
  margin-top: 2rem;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 7px;
}

div.main-content-block{
  width: 18rem;
  margin-top: 2rem;
}

div.content-block-header{
  display: flex;
  
}

div.header-content-block{
  height: 40px;
  font-family: var(--font-family);
  vertical-align: auto;
}

h4.main-block-header{
  margin-top: 10px;
}

div.charts{
  height: calc(18rem + 35px);
}

div.common{
  height: 30rem;
}

div.header-logo{
  width: 40px;
  height: 40px;
  display: flex;
}

img.header-logo{
  width: 24px;
  height: 24px;
  margin: auto;
  color: black;
  text-align: center;
}

div.main-content-charts, div.main-content-main{
  height: 273px;
  width: auto;
  background-color: beige;
  margin: 5px;
}

div.main-content-block-top{
  height: calc(18rem + 35px);
  background-color: bisque;
  border-radius: 7px;
}

div.main-content-block-bottom{
  background-color: red;
  margin-top: 5px;
  height: 147px;
  margin-top: 10px;
  border-radius: 7px;
}

div.main-content-block-bottom-content{
  height: 97px;
  margin: 5px;
}

div.main-content-big{
  margin: 5px;
  height: 430px;
}

div.background{
  background-color: white;
}

div.grey-background{
  background-color: var(--light-grey);
}

div.main-block-big-list-content{
  display: flex;
  margin-top: 10px;
  height: 40px;
  border-radius: 5px;
}

div.separator{
  border-bottom: 1px solid var(--third-color) ;
  width: 100%;
  margin-top: 10px;
}

div.main-content-big-header{
  background-color: var(--third-color);
  height: 40px;
  border-radius: 5px;
  display: flex;
  margin-bottom: 20px;
}

div.main-content-big-header-text{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}

h5.main-content-big-meaning, div.main-content-big-meaning{
  right: 0;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

h5.main-content-big-heade-text{
  
}

div.switcher-block{
  margin-top: 10px;
  margin-bottom: auto;
  margin-right: 5px;
  right: 0;
  width: auto;
  margin-left: 5px;
  display: flex;
  height: 20px;
  text-align: center;
}

div.switcher-text-block{
  margin-right: 5px;
  margin-left: auto;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

h6{
  margin-top: 12px;
  margin-bottom: auto;
  font-size: 0.8rem;
  font-family: var(--font-family);
}

h6.switcher-block{
  margin-top: 8px;
  margin-bottom: auto;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #01ab01;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(200px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

div.header-main-block-big-content{
  display: flex;
  height: 10px;
}

h6.header-main-block-big-content-content{
  color: black;
  font-family: var(--font-family);
}

div.right{
  margin-right: 5px;
  margin-left: auto;
}