@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root{
  --main-color: #f2f3f5;
  --second-color: white;
  --third-color: #ededed;
  --third-second-color: #dfe3e8;
  --nav-height: 60px;
  --font-family: 'Inter', sans-serif;
}

html{
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

body{
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  position: absolute;
  
}

div.main-flex{
  display: flex;
  height: 100%;
}

div.main{
  width: calc(100% - 8rem);
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

nav.sidenav{
  height: 100vmax;
  width: 40px;
  left: 0;
  background-color: var(--second-color);
  border-right: solid 1px var(--third-second-color);
}

nav.navbar{
  background-color: var(--second-color);
  height: var(--nav-height);
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: solid 1px var(--third-second-color);
}

img.logo{
  padding: auto;
  margin: auto;
  width: 60px;
  top: auto;
  padding: 0;
}

div.logo{
  display: flex;
  height: var(--nav-height);
  width: var(--nav-height);
  left: 0;
  margin: 0;
  padding: 0;
}

div.tab-information{
  height: var(--nav-height);
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
  height: auto;
}

div.tab-name{
  font-weight: bold;
  font-size: 23px;
}

div.tab-description{
  color: black;
}

button.main.active-tab-status, button.database.active-tab-status, button.setting.active-tab-status {
  background-color: var(--third-color);
}

div.reload-button{
  margin-top: 12px;
  margin-left: 6px;
}

form.refresh:hover{
  cursor: pointer;
}

h1, h2, h3, h4, h5{
  margin: 0;
  top: 0;
  font-family: var(--font-family);
}


button.main, button.database, button.setting{
  width: 40px;
  top: 0;
  height: 40px;
  background-color: var(--second-color);
  border: none;
  padding: 0;

}

button:hover{
  cursor: pointer;
  background-color: var(--third-color);
}

div.subtub-panel{
  display: flex;
}

button.humidity, button.temperature, button.windows, button.watering{
  background-color: var(--second-color);
  border: none;
  padding: 0;
  margin-right: 10px;
  font-family: var(--font-family);
  color: #7f7f7f;
  margin-top: 5px;
}

button.humidity:hover, button.temperature:hover, button.windows:hover, button.watering:hover{
  color:black;
  cursor: pointer;
}

button.main-primary{
  margin-top: 15px;
}

svg{
  fill: black;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

div.air-humidity-block{
  background-color: green;
  width: 100%;
  height: 25rem;
  margin-top: 0;
  display: flex;
}

div.feedblock-logo-div{
  background-color: red;
  width: 40px;
  height: 100%;
  margin-left: 0;
  display: flex;
}

div.feedblock-logo{
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

img.humidity-air-logo{
  margin-left: auto;
  margin-right: auto;
}

div.feedblock-main-content{
  background-color: yellow;
  width: 100%;
}

div.feedblock-header{
  background: orange;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 8px;
}

div.feedblock-main{
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 8px;
  margin-bottom: 0;
  background-color: aqua;
}

div.feedblock-graphic{
  margin-top: auto;
  margin-bottom: auto;
  width: 50rem;
}

div.soil-humidity-block{
  background-color: green;
  width: 100%;
  height: 25rem;
  margin-top: 2rem;
  display: flex;
}