{% extends 'layout/mainlayout.html' %} {% load static %} 

{% block main-tab-status %}active-tab-status{% endblock main-tab-status %}

{% block tab-name %}<h4>Панель управления</h4>{% endblock tab-name %}
{% block tab-description %}
<style>
    button.humidity {color: black;}
</style> 

<div class="subtub-panel">
    <div class="humidity">
        <form action="/main/humidity/">
            <button class="humidity">Влажность</button>
        </form>
    </div>
    <div class="temperature">
        <form action="/main/temperature/">
            <button class="temperature">Температура</button>
        </form>
    </div>
</div> 
{% endblock tab-description %}
 

{% block main %}
<div class="air-humidity-block">
    <div class="feedblock-logo-div">
        <div class="feedblock-logo">
            <img class="humidity-air-logo" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABaklEQVR4nK3WPUtcQRTG8V80ERubQCCEKMZGxM5GAikMaQSxEBEJFnYixFoL/QJpBBPyHUIwikiaWOtaCKKFkjKwCjZqo2yCZsOVm7Bc92Xu6IEp7pmZ5888M/fMUDue4Ah9wuINTjPtT70Jn/ENu3gkLi5qdQxjPxVexvx9Ah6jiP70+xlO0JNDuANduKzW+RFLmdw7fM8BWMcOrrMd3fiJtky+KZ0w6I4WrWGqxuABHOBhLOAVDhsIbGAyQHgIYyhVJlcw3mDiS+wFAD7hC67+JTpT70PO+zZey2nRImYDJ73Fah5AK87xHnMBbQG/0J4Re1Fl7G/p0StHtOlQwIdIwFqoRYVIwHEooBgJuEZLyDEtRQLKeBryo8Wu4CqgbNxYtBwJKITuwUgkYCa0XD/AZk7xH3U2uOqF8zzHXpyhN8Ce/xZVQrYaiCeVNLmUQuPWhZPYNYqv6YqSmpM8XRJPJ9BcR6zqs+UvGKDhPu3ID4kAAAAASUVORK5CYII=">
        </div>
    </div>
    <div class="feedblock-main-content" >
        <div class="feedblock-header">
            <h3>Влажность воздуха</h3>
        </div>
        <div class="feedblock-main" >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ipsa consequatur minus similique perspiciatis, cupiditate deserunt inventore soluta dolores! Quae ab assumenda illo rem. Error odit aliquam quidem iure accusamus!
        </div>
    </div>
    <div class="feedblock-graphic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptates quo praesentium molestiae, aliquam officia corporis, mollitia quia, tempora necessitatibus nam odit veniam hic porro sequi minima accusamus accusantium saepe!
    </div>
</div>

<div class="soil-humidity-block">
    <div class="feedblock-logo-div">
        <div class="feedblock-logo">
            <img class="humidity-air-logo" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABaklEQVR4nK3WPUtcQRTG8V80ERubQCCEKMZGxM5GAikMaQSxEBEJFnYixFoL/QJpBBPyHUIwikiaWOtaCKKFkjKwCjZqo2yCZsOVm7Bc92Xu6IEp7pmZ5888M/fMUDue4Ah9wuINTjPtT70Jn/ENu3gkLi5qdQxjPxVexvx9Ah6jiP70+xlO0JNDuANduKzW+RFLmdw7fM8BWMcOrrMd3fiJtky+KZ0w6I4WrWGqxuABHOBhLOAVDhsIbGAyQHgIYyhVJlcw3mDiS+wFAD7hC67+JTpT70PO+zZey2nRImYDJ73Fah5AK87xHnMBbQG/0J4Re1Fl7G/p0StHtOlQwIdIwFqoRYVIwHEooBgJuEZLyDEtRQLKeBryo8Wu4CqgbNxYtBwJKITuwUgkYCa0XD/AZk7xH3U2uOqF8zzHXpyhN8Ce/xZVQrYaiCeVNLmUQuPWhZPYNYqv6YqSmpM8XRJPJ9BcR6zqs+UvGKDhPu3ID4kAAAAASUVORK5CYII=">
        </div>
    </div>
    <div class="feedblock-main-content" >
        <div class="feedblock-header">
            <h3>Влажность почвы</h3>
        </div>
        <div class="feedblock-main" >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ipsa consequatur minus similique perspiciatis, cupiditate deserunt inventore soluta dolores! Quae ab assumenda illo rem. Error odit aliquam quidem iure accusamus!
        </div>
    </div>
    <div class="feedblock-graphic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptates quo praesentium molestiae, aliquam officia corporis, mollitia quia, tempora necessitatibus nam odit veniam hic porro sequi minima accusamus accusantium saepe!
    </div>
</div>
{% endblock main %}
