{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <canvas id={{chart_name}} width="1100" height="500" style="position: absolute;"></canvas>
  <script>
    var colors = ['rgba(54,162,235,1)', 'rgba(255,101,134,1)', 'rgba(255,205,86,1)', 'rgba(153,102,255,1)', 'rgba(255,159,64,1)', 'rgba(75,192,192,1)'];
    var currentColor = -1;
    function getNextColor() {
      currentColor++;
      return colors[currentColor];
    }
    var ctx = document.getElementById('{{chart_name}}').getContext('2d');
    var chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{datetime|safe}},
        datasets: [
          {% for i in value %}
              {data: {{ i }},
              fill: false,
              backgroundColor: getNextColor(),
              borderColor: colors[currentColor],
              borderWidth: 1.7,
              pointRadius: 5},
          {% endfor %}
        ]
      },
      options: {
        animation: false,
        responsive: false,
        legend: {
          display: false
        },
        title: {
          display: false,
        },
        scales: {
          xAxes: [{
            ticks: {
              display: false
            }
          }],
          yAxes: [{
          }]
        }
      }
    });
  </script>
</div>
</body>
</html>