{% load static %}
<!DOCTYPE html>
<html class="html" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static '/img/logo/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'css/404/page_404.css' %}">
    <title>Система управления теплицей</title>
</head>
<body class="body">
  <main class="content">
    <h1 class="maintext">Страница не найдена</h1>
    <nav>
      <a class="main-page__button" href="/main/">на главную страницу &#10148;</a>
      <a class="debug__button" onclick="debugPanel()">debug &#9660;</a>
    </nav>
    <div class="debug" id="debug-panel">
      <p class="debug_line">status-code: 404</p>
      <p class="debug_line">API: Greenhouse-Simple-API (GS-API)</p>
      <p class="debug_line">GS-API-version: 1.0</p>
      <p class="debug_line">HTMX: true;</p>
  </main>

  <script>
    function debugPanel() {
      document.getElementById('debug-panel').style.visibility = "visible";
    }
  </script>
</body>
</html>