{% extends 'layout/layout.html' %}
{% load static %}

{% block main %}
<!-- Control Panel -->
  <section class="panel" id="control-panel">

    <!-- Soil humidity -->
    <div class="block">
      <div class="block-top">
        <div class="block__header">
          <div class="block__icon"></div>
          <h2 class="block__name">Влажность почвы</h2>
        </div>
        <ul class="block__list">
          <li class="block__line">
            <h3 class="line__name">Бороздка 1:</h3>
            <p class="line__meaning">44%</p>
            <p class="line__watering">Полив:</p>
          </li>
          <li class="block__line">
            <h3 class="line__name">Бороздка 2:</h3>
            <p class="line__meaning">44%</p>
            <p class="line__watering">Полив:</p>
          </li>
          <li class="block__line">
            <h3 class="line__name">Бороздка 3:</h3>
            <p class="line__meaning">44%</p>
            <p class="line__watering">Полив:</p>
          </li>
          <li class="block__line">
            <h3 class="line__name">Бороздка 4:</h3>
            <p class="line__meaning">44%</p>
            <p class="line__watering">Полив:</p>
          </li>
          <li class="block__line">
            <h3 class="line__name">Бороздка 5:</h3>
            <p class="line__meaning">44%</p>
            <p class="line__watering">Полив:</p>
          </li>
          <li class="block__line">
            <h3 class="line__name">Бороздка 6:</h3>
            <p class="line__meaning">44%</p>
            <p class="line__watering">Полив:</p>
          </li>
        </ul>
      </div>
    </div>

    <!-- Air humidity  -->
    <div class="block">
      <div class="block-top">
        <div class="block__header">
          <div class="block__icon"></div>
          <h2 class="block__name">Влажность почвы</h2>
        </div>
        <ul class="block__list">
          <li class="block__line">
            <h3 class="line__name">Датчик 1:</h3>
            <p class="line__meaning">44%</p>
          </li>
          <li class="block__line">
            <h3 class="line__name">Датчик 2:</h3>
            <p class="line__meaning">44%</p>
          </li>
          <li class="block__line">
            <h3 class="line__name">Датчик 3:</h3>
            <p class="line__meaning">44%</p>
          </li>
          <li class="block__line">
            <h3 class="line__name">Датчик 4:</h3>
            <p class="line__meaning">44%</p>
          </li>
        </ul>
      </div>
      <div class="block-bottom">
        <div class="block__header">
          <div class="block__icon"></div>
          <h2 class="block__name">Полив</h2>
        </div>
        <ul class="block__list">
          <li class="block__line">
            <h3 class="line__name">Орошение:</h3>
            <p class="line__meaning">44%</p>
          </li>
        </ul>
      </div>
    </div>

    <!-- Temperature -->
    <div class="block">
      <div class="block-top">
        <div class="block__header">
          <div class="block__icon block__icon_place_soil-hummidity"></div>
          <h2 class="block__name">Влажность почвы</h2>
        </div>
        <ul class="block__list">
          <li class="block__line">
            <h3 class="line__name">Датчик 1:</h3>
            <p class="line__meaning">44%</p>
          </li>
          <li class="block__line">
            <h3 class="line__name">Датчик 2:</h3>
            <p class="line__meaning">44%</p>
          </li>
          <li class="block__line">
            <h3 class="line__name">Датчик 3:</h3>
            <p class="line__meaning">44%</p>
          </li>
          <li class="block__line">
            <h3 class="line__name">Датчик 4:</h3>
            <p class="line__meaning">44%</p>
          </li>
        </ul>
      </div>
      <div class="block-bottom">
        <div class="block__header">
          <div class="block__icon"></div>
          <h2 class="block__name">Проветривание</h2>
        </div>
        <ul class="block__list">
          <li class="block__line">
            <h3 class="line__name">Форточки (открытие):</h3>
            <p class="line__meaning">44%</p>
          </li>
        </ul>
      </div>
    </div>

    <!-- Chart -->
    <div class="block block_content_chart">
      <div class="block-top">
        <div class="block__header">
          <div class="block__icon block__icon_place_soil-hummidity"></div>
          <h2 class="block__name">Влажность почвы</h2>
          <select name="select" class="select-list" id="select" onchange="submitForm();">
            <option class="select-list__value" value="Температура">Температура</option>
            <option class="select-list__value" value="Влажность воздуха" selected>Влажность воздуха</option>
            <option class="select-list__value" value="Влажность почвы">Влажность почвы</option>
            <option class="select-list__value" value="Состояние форточек">Состояние форточек</option>
            <option class="select-list__value" value="Состояние полива">Состояние полива</option>
        </select>
      </div>
    </div>

  </div>
  </section>
{% endblock %}
