{% extends 'layout/mainlayout.html' %} {% load static %} 

{% block main-tab-status %}active-tab-status{% endblock main-tab-status %}
{% block tab-name %}<h4>Панель управления</h4>{% endblock tab-name %}

{% block tab-description %} 
<div class="subtub-panel">
    <div class="humidity">
        <form action="humidity/">
            <button class="humidity">Влажность</button>
        </form>
    </div>
    <div class="temperature">
        <form action="temperature/">
            <button class="temperature">Температура</button>
        </form>
    </div>
    <div class="windows">
        <form action="windows/">
            <button class="windows">Форточки</button>
        </form>
    </div>
    <div class="water">
        <form action="watering/">
            <button class="watering">Полив</button>
        </form>
    </div>
</div> 
{% endblock tab-description %}

{% block main %}

{% endblock main %}
