{% extends 'layout/mainlayout.html' %} {% load static %}

{% block main-tab-status %}active-tab-status{% endblock main-tab-status %}
{% block tab-name %}<h4>Панель управления</h4>{% endblock tab-name %}

{% block tab-description %} 
{% endblock tab-description %}

{% block main %}
<!--    <script type="text/javascript">-->
<!--      setTimeout(function(){-->
<!--        location = ''-->
<!--      },3200)-->
<!--    </script>-->
    <div class="main-flex-block">

        <!-------->

        <div class="main-content-block common background">
            <div class="content-block-header">
                <div class="header-logo">
                    <img class="header-logo" src="{% static 'img/icons/soilhumidity.png' %}" alt="SH">
                </div>
                <div class="header-content-block">
                    <h4 class="main-block-header">Влажность почвы</h4>
                </div>
            </div>
            <div class="main-content-big">
                <div class="main-content-big-header">
                    <div class="main-content-big-header-text">
                        <h5 class="main-content-big-header-text">Среднее значение:</h5>
                    </div>
                    <div class="main-content-big-meaning right">
                        <h5 class="main-content-big-meaning">БАН</h5>
                    </div> 
                </div>
                <div class="separator"></div>
                <div class="main-block-big-list-content">
                    <div class="main-content-big-header-text">
                        <h5 class="main-content-big-header-text">Датчик 1:</h5>
                    </div>
                    <div class="main-content-big-meaning">
                        <h5 class="main-content-big-meaning">{{soil_hum_1.value}}%</h5>
                    </div> 
                    <div class="switcher-text-block">
                        <h6 class="switcher">Полив:</h6>
                    </div>
                    <div class="switcher-block">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="main-block-big-list-content grey-background">
                    <div class="main-content-big-header-text">
                        <h5 class="main-content-big-header-text">Датчик 2:</h5>
                    </div>
                    <div class="main-content-big-meaning">
                        <h5 class="main-content-big-meaning">{{soil_hum_2.value}}%</h5>
                    </div> 
                    <div class="switcher-text-block">
                        <h6 class="switcher">Полив:</h6>
                    </div>
                    <div class="switcher-block">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="main-block-big-list-content">
                    <div class="main-content-big-header-text">
                        <h5 class="main-content-big-header-text">Датчик 3:</h5>
                    </div>
                    <div class="main-content-big-meaning">
                        <h5 class="main-content-big-meaning">{{soil_hum_3.value}}%</h5>
                    </div> 
                    <div class="switcher-text-block">
                        <h6 class="switcher">Полив:</h6>
                    </div>
                    <div class="switcher-block">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="main-block-big-list-content grey-background">
                    <div class="main-content-big-header-text">
                        <h5 class="main-content-big-header-text">Датчик 4:</h5>
                    </div>
                    <div class="main-content-big-meaning">
                        <h5 class="main-content-big-meaning">{{soil_hum_4.value}}%</h5>
                    </div> 
                    <div class="switcher-text-block">
                        <h6 class="switcher">Полив:</h6>
                    </div>
                    <div class="switcher-block">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="main-block-big-list-content">
                    <div class="main-content-big-header-text">
                        <h5 class="main-content-big-header-text">Датчик 5:</h5>
                    </div>
                    <div class="main-content-big-meaning">
                        <h5 class="main-content-big-meaning">{{soil_hum_5.value}}%</h5>
                    </div> 
                    <div class="switcher-text-block">
                        <h6 class="switcher">Полив:</h6>
                    </div>
                    <div class="switcher-block">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="main-block-big-list-content grey-background">
                    <div class="main-content-big-header-text">
                        <h5 class="main-content-big-header-text">Датчик 6:</h5>
                    </div>
                    <div class="main-content-big-meaning">
                        <h5 class="main-content-big-meaning">{{soil_hum_6.value}}%</h5>
                    </div> 
                    <div class="switcher-text-block">
                        <h6 class="switcher">Полив:</h6>
                    </div>
                    <div class="switcher-block">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        

        <!-------->

        <div class="main-content-block common">
            <div class="main-content-block-top background">
                <div class="content-block-header">
                    <div class="header-logo">
                        <img class="header-logo" src="{% static 'img/icons/airhumidity.png' %}" alt="T">
                    </div>
                    <div class="header-content-block">
                        <h4 class="main-block-header">Влажность воздуха</h4>
                    </div>
                </div>
                <div class="main-content-big">
                    <div class="main-content-big-header">
                        <div class="main-content-big-header-text">
                            <h5 class="main-content-big-header-text">Среднее значение:</h5>
                        </div>
                        <div class="main-content-big-meaning right">
                            <h5 class="main-content-big-meaning">{{avg_temp.avg_value}}%</h5>
                        </div> 
                    </div>
                    <div class="separator"></div>
                    <div class="main-block-big-list-content">
                        <div class="main-content-big-header-text">
                            <h5 class="main-content-big-header-text">Датчик 1:</h5>
                        </div>
                        <div class="main-content-big-meaning right">
                            <h5 class="main-content-big-meaning">{{air_hum_1.value}}%</h5>
                        </div> 
                    </div>
                    <div class="main-block-big-list-content grey-background">
                        <div class="main-content-big-header-text">
                            <h5 class="main-content-big-header-text">Датчик 2:</h5>
                        </div>
                        <div class="main-content-big-meaning right">
                            <h5 class="main-content-big-meaning">{{air_hum_2.value}}%</h5>
                        </div> 
                    </div>
                    <div class="main-block-big-list-content">
                        <div class="main-content-big-header-text">
                            <h5 class="main-content-big-header-text">Датчик 3:</h5>
                        </div>
                        <div class="main-content-big-meaning right">
                            <h5 class="main-content-big-meaning">{{air_hum_3.value}}%</h5>
                        </div> 
                    </div>
                    <div class="main-block-big-list-content grey-background">
                        <div class="main-content-big-header-text">
                            <h5 class="main-content-big-header-text">Датчик 4:</h5>
                        </div>
                        <div class="main-content-big-meaning right">
                            <h5 class="main-content-big-meaning">{{air_hum_4.value}}%</h5>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="main-content-block-bottom background">
                <div class="content-block-header">
                    <div class="header-logo">
                        <img class="header-logo" src="{% static 'img/icons/soilhumidity.png' %}" alt="AH">
                    </div>
                    <div class="header-content-block">
                        <h4 class="main-block-header">Полив</h4>
                    </div>
                </div>
                <div class="main-content-block-bottom-content">
                    <div class="main-content-big-header">
                        <div class="main-content-big-header-text">
                            <h5 class="main-content-big-header-text">Состояние:</h5>
                        </div>
                        <div class="main-content-big-meaning right">
                            <h5 class="main-content-big-meaning">БАН</h5>
                        </div> 
                    </div>
                    <div class="main-block-big-list-content">
                        <div class="main-content-big-header-text">
                            <h5 class="main-content-big-header-text">Орошение</h5>
                        </div>
                        <div class="main-content-big-meaning">
                            <h5 class="main-content-big-meaning"></h5>
                        </div> 
                        <div class="switcher-text-block">                     
                        </div>
                        <div class="switcher-block">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="main-content-block common">
            <div class="main-content-block-top background">
                <div class="content-block-header">
                    <div class="header-logo">
                        <img class="header-logo" src="{% static 'img/icons/temperature.png' %}" alt="T">
                    </div>
                    <div class="header-content-block">
                        <h4 class="main-block-header">Температура</h4>
                    </div>
                </div>
                <div class="main-content-big">
                    <div class="main-content-big-header">
                        <div class="main-content-big-header-text">
                            <h5 class="main-content-big-header-text">Среднее значение:</h5>
                        </div>
                        <div class="main-content-big-meaning right">
                            <h5 class="main-content-big-meaning">{{avg_temp.avg_value}}°C</h5>
                        </div> 
                    </div>
                    <div class="separator"></div>
                    <div class="main-block-big-list-content">
                        <div class="main-content-big-header-text">
                            <h5 class="main-content-big-header-text">Датчик 1:</h5>
                        </div>
                        <div class="main-content-big-meaning right">
                            <h5 class="main-content-big-meaning">{{temp_1.value}}°C</h5>
                        </div> 
                    </div>
                    <div class="main-block-big-list-content grey-background">
                        <div class="main-content-big-header-text">
                            <h5 class="main-content-big-header-text">Датчик 2:</h5>
                        </div>
                        <div class="main-content-big-meaning right">
                            <h5 class="main-content-big-meaning">{{temp_2.value}}°C</h5>
                        </div> 
                    </div>
                    <div class="main-block-big-list-content">
                        <div class="main-content-big-header-text">
                            <h5 class="main-content-big-header-text">Датчик 3:</h5>
                        </div>
                        <div class="main-content-big-meaning right">
                            <h5 class="main-content-big-meaning">{{temp_3.value}}°C</h5>
                        </div> 
                    </div>
                    <div class="main-block-big-list-content grey-background">
                        <div class="main-content-big-header-text">
                            <h5 class="main-content-big-header-text">Датчик 4:</h5>
                        </div>
                        <div class="main-content-big-meaning right">
                            <h5 class="main-content-big-meaning">{{temp_4.value}}°C</h5>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="main-content-block-bottom background">
                <div class="content-block-header">
                    <div class="header-logo">
                        <img class="header-logo" src="{% static 'img/icons/wind.png' %}" alt="AH">
                    </div>
                    <div class="header-content-block">
                        <h4 class="main-block-header">Проветривание</h4>
                    </div>
                </div>
                <div class="main-content-block-bottom-content">
                    <div class="main-content-big-header">
                        <div class="main-content-big-header-text">
                            <h5 class="main-content-big-header-text">Состояние:</h5>
                        </div>
                        <div class="main-content-big-meaning right">
                            <h5 class="main-content-big-meaning">БАН</h5>
                        </div> 
                    </div>
                    <div class="main-block-big-list-content">
                        <div class="main-content-big-header-text">
                            <h5 class="main-content-big-header-text">Форточки</h5>
                        </div>
                        <div class="main-content-big-meaning">
                            <h5 class="main-content-big-meaning"></h5>
                        </div> 
                        <div class="switcher-text-block">
                        </div>
                        <div class="switcher-block">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <!-------->

        <div class="main-content-block charts background">
            <div class="content-block-header">
                <div class="header-logo">
                    <img class="header-logo" src="{% static 'img/icons/chart.png' %}" alt="C">
                </div>
                <div class="header-content-block">
                    <h4 class="main-block-header">Графики</h4>
                </div>
            </div>
            <div class="main-content-charts">
                44
            </div>
        </div>

    </div>
{% endblock main %}
