{% extends 'layout/mainlayout.html' %} {% load static %} 

{% block main-tab-status %}active-tab-status{% endblock main-tab-status %}
{% block tab-name %}<h4>Панель управления</h4>{% endblock tab-name %}

{% block tab-description %} 
{% endblock tab-description %}

{% block main %}
    <div class="main-block-main" >
        <div class="main-block-main-left" >
            <div class="main-tape-sensors">
                <div class="soil-himidity-block">
                    
                </div>
                <div class="air-humidity-block">

                </div>
            </div>
            <div class="main-list">

            </div>
        </div>
        <div class="main-block-main-right" >
            <div class="chart-block"></div>
        </div>
    </div>
{% endblock main %}
